@mixin active {
  background: $background-default-background;
}

.uk-nav .category-nav--category > div {
  transition: background $animation-duration,
    box-shadow $animation-duration, color $animation-duration;
  padding: 10px 0 10px 50px;

  cursor: pointer;

  &.active {
    @include active;
  }

  &:hover {
    @include active;
    @extend .uk-box-shadow-small;
  }

  .skeleton-text {
    height: 15px;
    width: 70%;
  }
}
