@use "ember-uikit" as uikit;

@mixin active {
  background: uikit.$background-default-background;
}

.uk-nav .category-nav--category > div {
  transition: background uikit.$animation-duration,
    box-shadow uikit.$animation-duration, color uikit.$animation-duration;
  padding: 10px 0 10px 50px;

  cursor: pointer;

  &.active {
    @include active;
  }

  &:hover {
    @include active;
    @extend .uk-box-shadow-small;
  }

  .skeleton-text {
    height: 15px;
    width: 70%;
  }
}
