@mixin active {
  background: $background-default-background;
}

.uk-nav .category-nav__category > div {
  transition-property: background, box-shadow, color;
  transition-duration: $animation-duration;
  padding: 10px 0 10px $global-margin;
  cursor: pointer;

  &.active {
    @include active;
  }

  &:hover {
    @include active;
    @extend .uk-box-shadow-small;
  }

  .skeleton-text {
    height: 15px;
    width: 70%;
  }
}
