.alexandria-container {
  container: alexandria / inline-size;
}

@container alexandria (max-width: 1200px) {
  .document-details {
    width: 300px !important;

    > div {
      min-width: 300px !important;
    }
  }
}

@container alexandria (max-width: 1100px) {
  .side-nav > div:first-child {
    font-size: 0;
  }

  .category-nav {
    width: 60px;
  }

  .category-nav__category div > div > :not(:first-child) {
    display: none;
  }

  .category-nav__category
    > ul
    > .category-nav__category
    div
    > div
    > div:first-child {
    margin-left: 0 !important;
  }

  table.document-list > thead > tr > th:nth-child(4),
  table.document-list > thead > tr > th:nth-child(5),
  table.document-list > tbody > tr > td:nth-child(4),
  table.document-list > tbody > tr > td:nth-child(5) {
    display: none;
  }

  ul.version-history > li {
    > span:nth-child(1) {
      flex: 1;
    }

    > span:nth-child(2) {
      display: none;
    }
  }
}
