.alexandria-container {
  container: alexandria / inline-size;
}

.document-view {
  container: table / inline-size;
}

@container alexandria (max-width: 1550px) {
  .document-details {
    width: 300px;

    > div {
      min-width: 300px;
    }
  }
}

@container table (max-width: 700px) {
  .document-list-item-createdByUser {
    display: none;
  }
}

@container table (max-width: 850px) {
  .side-nav > div:first-child {
    font-size: 0;
  }

  .category-nav {
    width: 60px;
  }

  .category-nav__category div > div > :not(:first-child) {
    display: none;
  }

  .category-nav__category
    > ul
    > .category-nav__category
    div
    > div
    > div:first-child {
    margin-left: 0 !important;
  }

  .document-list-item-date {
    display: none;
  }

  ul.version-history > li {
    > span:nth-child(1) {
      flex: 1;
    }

    > span:nth-child(2) {
      display: none;
    }
  }
}

@container table (max-width: 900px) {
  .document-list-item-modifiedAt {
    display: none;
  }
}
