.document-card {
  width: 200px;
  transition: box-shadow $animation-duration, color $animation-duration,
    border $animation-duration;

  &:hover {
    @extend .uk-box-shadow-large;
  }

  .uk-card-media-top {
    height: 170px;
    overflow: hidden;

    img {
      border-radius: calc(#{$border-rounded-border-radius} * 2);
    }
  }

  .document-name {
    font-size: 0.85rem;

    & > span:first-child {
      max-width: 90%;
    }

    & > span:last-of-type {
      width: 10%;
      text-align: center;
      cursor: pointer;
    }

    & > span[class*="skeleton"] {
      width: 100%;
      max-width: 100%;
    }
  }

  &.selected {
    border-color: $global-primary-background;
  }
}
