@use "ember-uikit/variables-theme" as uikit;

.document-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 15px;
  justify-content: center;
  padding-bottom: 15px;

  & .empty {
    grid-column-start: 1;
    grid-column-end: end;
  }

  &--dragover {
    border: 1px solid uikit.$alert-primary-color;
  }
}
