.document-details {
  transition: width $animation-duration;

  &.closed {
    width: 0;
  }

  .document-title {
    font-size: 1.5em;
    word-break: break-all;
  }

  .document-meta {
    font-size: 1.25em;
    color: $global-muted-color;
  }
}

.document-marks {
  margin-top: 1dvh;

  label {
    height: 1.5rem;
    width: 1.5rem;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid $global-muted-color;
    z-index: 0;
    background-color: #fff;
    cursor: pointer;
  }

  label.mark-active {
    background-color: $global-primary-background;
    border-color: $global-primary-background;

    svg path {
      fill: #fff;
    }
  }

  label.mark-mixed {
    border-color: $global-primary-background;
  }

  label:hover {
    box-shadow: $tag-hover-shadow;
  }
}
