ul.document-list {
    width: 100%;
    padding-left: 0;

  li:nth-child(even) {
    background-color: lightgrey;
  }

  li {
    list-style: none;
    margin: .1rem;
    padding: .2rem .5rem;

    a {
      display: grid;
      gap: .1rem;
      grid-template-columns: 1fr 5fr 5fr 5fr;
      // grid-template: 
      //   "a a" 
      //   ". ." 
      //   ". ."; 

      .list-item-icon {
        margin: auto 0;
      }
    }
  }

  .document-list-header {
    display: grid;
    gap: .1rem;
    grid-template-columns: 1fr 5fr 5fr 5fr;

    span {
      font-weight: bold;
    }
  }
}
