.document-thumbnail {
  margin: 0;
  padding: 0;
  min-width: auto;
}

.list-marks > div {
  margin-right: 4px;
}

.list-marks svg {
  min-width: 1.25em;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */ /* Safari */ /* Konqueror HTML */ /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.document-list tr {
  cursor: pointer;
}

.document-list thead tr {
  cursor: auto;
}

.uk-table.document-list tbody tr.document-list-item--selected {
  background: #ffd;
}

.cursor-pointer {
  cursor: pointer;
}
