.drop {
  width: 200px;

  .item {
    @extend .uk-link-reset;

    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: $global-muted-background;
    }

    &--indent {
      padding-left: 25px;
    }

    svg {
      font-size: 1.2em;
      margin-right: 10px;
    }
  }
}
