.tag {
  padding: 0.2em 0.6em;
  margin: 0.2em;
  border-radius: 10px;
  display: inline-flex;
  color: $global-color;
  border: 1px solid $global-muted-color;
  background-color: white;
  align-items: center;
  cursor: pointer;

  svg {
    margin: 0.2rem;
    height: $global-small-font-size;
  }

  &--active {
    color: white;
    border-color: $global-primary-background;
    background-color: $global-primary-background;
  }

  &:hover {
    text-decoration: none;
    color: $global-color;
    box-shadow: $tag-hover-shadow;
  }

  &--active:hover {
    color: white;
  }

  .uk-close {
    margin-left: 5px;

    > svg {
      width: 0.75rem;
    }
  }
}
