<li class="category-nav--category">
  <a href="#" disabled>
    <div class="uk-flex uk-flex-middle">
      <div>
        <FaIcon
          @icon="folder"
          @size="2x"
          class="uk-margin-right skeleton-icon"
          {{set-style animation-delay=@animationDelay}}
        />
      </div>
      <span class="skeleton-text" {{set-style animation-delay=@animationDelay}}>
      </span>
    </div>
  </a>
</li>
