<li class="category-nav--category">
  <a href="#" disabled>
    <div class="uk-flex uk-flex-middle">
      <div>
        <FaIcon
          @icon="folder"
          @size="2x"
          class="uk-margin-right"
          {{set-style color="#999"}}
        />
      </div>
      <span class="skeleton-text">
      </span>
    </div>
  </a>
</li>
