<div
  uk-drop="mode: click; pos: {{if @position @position "bottom-left"}}; offset: 5;"
  class="{{@width}} drop"
>
  <div
    class="uk-corner-rounded uk-background-default uk-box-shadow-large uk-flex uk-flex-column uk-overflow-hidden uk-border"
  >
    {{yield (component "drop/item")}}
  </div>
</div>
