<div
  class="uk-width-1 uk-height-1-1 uk-flex uk-flex-column uk-flex-middle uk-flex-center"
  {{set-style color="#999"}}
>
  <div>
    <FaIcon @icon="box-open" @size="4x"/>
  </div>
  <p class="uk-text-large uk-text-light uk-text-center">
    {{t "alexandria.nothing-found"}}
  </p>
</div>
