<div class="uk-height-1-1" uk-form-custom ...attributes>
  <input type="file" multiple {{on "change" this.upload}} />
  <button
    class="uk-button uk-button-primary  uk-height-1-1"
    type="button"
    tabindex="-1"
  >
    Upload File
  </button>
</div>
