<div
  class="alexandria-container uk-flex uk-flex-1 uk-height-1-1 uk-border uk-background-default uk-width-1 uk-flex-column uk-overflow-hidden"
>
  <FileSearch
    @filters={{this.filters}}
    @selectedDocumentId={{this.document}}
    class="uk-border-top"
  />
</div>