<div
  class="document-card uk-card uk-card-body uk-border-rounded-circular uk-padding-remove"
>
  <div class="uk-card-media-top uk-text-center uk-border-bottom">
    <img
      data-test-img
      width="200"
      height="180"
      uk-img
      class="skeleton-pulse"
      alt={{t "alexandria.loading"}}
      {{set-style animation-delay=@animationDelay}}
    />
  </div>
  <div
    class="uk-card-body uk-padding-small uk-flex uk-flex-between document-name"
  >
    <span
      class="skeleton-text"
      data-test-text
      {{set-style animation-delay=@animationDelay}}
    >
    </span>

    <span data-test-ellipsis {{set-style color="#F4F4F4"}}>
      <FaIcon @icon="ellipsis-v" />
    </span>
  </div>
</div>