<div class="uk-flex uk-flex-column" id="container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="/">
            Alexandria :)
          </a>
        </li>

        <li>
          <LinkTo @route="alexandria" @model={{1}}>
            Dokumente Dossier 1
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="alexandria" @model={{2}}>
            Dokumente Dossier 2
          </LinkTo>
        </li>
      </ul>
    </div>
  </nav>

  <main class="uk-height-1-1 uk-overflow-auto">
    {{outlet}}
  </main>
</div>
