<div class="uk-flex uk-flex-column" id="container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <LinkTo @route="alexandria">
            Alexandria
          </LinkTo>
        </li>

        <li>
          <LinkTo @route="alexandria-meta" @model={{1}} data-test-meta-1>
            Dokumente Dossier 1
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="alexandria-meta" @model={{2}} data-test-meta-2>
            Dokumente Dossier 2
          </LinkTo>
        </li>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <LinkTo @query={{hash activeGroup="dev-group"}}>
            dev-group
          </LinkTo>
        </li>

        <li>
          <LinkTo @query={{hash activeGroup="secondary-group"}}>
            secondary-group
          </LinkTo>
        </li>
      </ul>
    </div>
  </nav>

  <main class="uk-height-1-1 uk-overflow-auto">
    {{outlet}}
  </main>
</div>